---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% include "view-switch.njk" %}
{% for post in posts %}
  <article>
    <div class="container headline">
      <h1><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
      <hr>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadableJp }}</time>
      <p>{% excerpt post %}</p>
      <a href="{{ post.url | url }}">続きを読む</a>
    </div>
  </article>
{% endfor %}
